<div class="form-group" ng-class="{'has-error': formScope[options.key].$dirty && formScope[options.key].$invalid}">
	<label for="{{id}}" class="{{options.labelWidth ||'col-sm-2'}} control-label">
		<span ng-show="!!options.label" class="text-danger">{{options.required ? '*' : ''}}</span>
		<span ng-bind-html="options.label|to_trusted"></span>
	</label>
	<div class="{{options.formItemWidth || 'col-sm-4'}}">
		<input type="text" class="form-control" id="{{id}}" formly-dynamic-name="options.key" placeholder="{{options.placeholder}}" ng-required="options.required" ng-disabled="options.disabled" ng-model="result[options.key || index]">
		<p id="{{id}}_description" class="help-block" ng-if="options.description">{{options.description}}</p>
		<div class="help-block" ng-repeat="valid in options.validators" ng-show="valid.errorMessage && formScope[options.key].$dirty && formScope[options.key].$error[ valid.validator.indexOf('ng') == 0 ? (valid.validator.substring(2,3).toLowerCase() + valid.validator.split('=')[0].slice(3))  : valid.validator.split('=')[0]   ] ">{{valid.errorMessage }}</div>
	</div>
</div>